#frm1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.button1 {
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    color: #27425d;
    border-radius: 2rem;
    border: 3px solid #27425d;
    box-shadow: 0 0 2px rgb(255 255 255 / 12%), 0 0 4px rgb(255 255 255 / 12%), 0 0 8px rgb(255 255 255 / 12%), 0 0 16px rgb(255 255 255 / 12%), 0 0 32px rgb(255 255 255 / 12%), 0 0 64px rgb(255 255 255 / 12%);
}

.button1:hover {
    transform: scale(1.1); 
}