body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

html {
    height: 100vh;
    width: 100vw;
}

img {
    max-width: 40%;
    height: auto;
}

#scissors {
    max-width: 30%;
    height: auto;
}

.options {
    /* display: block;
    margin: auto; */
    position: relative;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}

.btn:hover {
    transform: translateY(-50%) translateX(-50%) scale(1.1);
    cursor: pointer;
}

.winner {
    filter: hue-rotate(45deg) saturate(200%);
}

.loser {
    filter: hue-rotate(325deg) saturate(500%);
}


.container1 {
    position: absolute;
    top: 0%;
    left: 10%;
    width: 30vw;
    height: 30vh;
}

.container2 {
    position: absolute;
    top: 33%;
    left: 10%;
    width: 30vw;
    height: 30vh;
}

.container3 {
    position: absolute;
    top: 66%;
    left: 10%;
    width: 30vw;
    height: 30vh;
}

.container4 {
    position: absolute;
    top: 33%;
    left: 56%;
    width: 30vw;
    height: 30vh;
}

.container5 {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 5rem;
    transform: translateY(-50%) translateX(-50%);
}

.hide {
    display: none;
}

.Button {
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    color: #27425d;
    border-radius: 2rem;
    border: 3px solid #27425d;
    box-shadow: 0 0 2px rgb(255 255 255 / 12%), 0 0 4px rgb(255 255 255 / 12%), 0 0 8px rgb(255 255 255 / 12%), 0 0 16px rgb(255 255 255 / 12%), 0 0 32px rgb(255 255 255 / 12%), 0 0 64px rgb(255 255 255 / 12%);
}

.Button:hover {
    transform: scale(1.1); 
}