body {
    height: 100%;
    overflow: hidden;
}

html {
    height: 100%;
}

table {
    height: 100%; 
    margin: auto;
}

tr {
    height: 33%;
}

#td1 {
    width: 20%;
}

img {
    max-width: 40%;  
    height: auto;  
}

#scissors {
    max-width: 30%;
    height: auto;
}

.options {
    display:block; 
    margin: auto;
}

.moves:hover {
    transform: scale(1.1); 
}

button {
    display: grid;
}